@import "tailwindcss";

@theme {
  /* Palette Thème Clair (Zinc & Cyan) */
  --color-background: #f4f4f5; /* zinc-100 */
  --color-surface: #ffffff; /* white */
  --color-border: #d4d4d8; /* zinc-300 */

  --color-primary: #0891b2; /* cyan-600 */
  --color-primary-hover: #0e7490; /* cyan-700 */

  --color-danger: #ef4444; /* red-500 */
  --color-warning: #f59e0b; /* amber-500 */
}

/* 
  Application des styles globaux directement sur le body
*/
@layer base {
  body {
    @apply bg-background text-zinc-900 antialiased selection:bg-primary selection:text-white;
  }
}
